# Django
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_DEBUG=1
# Use pelo menos 32 caracteres para evitar warning de chave curta JWT/HMAC.
DJANGO_SECRET_KEY=change-me-in-real-env-with-at-least-32-chars
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,api
USE_DOCKER=yes

# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=blackbeans
POSTGRES_USER=blackbeans
POSTGRES_PASSWORD=blackbeans
DATABASE_URL=postgres://blackbeans:blackbeans@postgres:5432/blackbeans

# Redis / Celery
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
