DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=change-me-in-real-env
USE_DOCKER=yes

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=blackbeans
POSTGRES_USER=blackbeans
POSTGRES_PASSWORD=blackbeans
DATABASE_URL=postgres://blackbeans:blackbeans@postgres:5432/blackbeans

REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
